<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>알랑말랑 어드민! >.<</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/modal.js"></script>
    <script src="/admin.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

    <style>
        .nav-vertical {
            max-width: 10.625rem;
            width: 10.625rem;
            height: 100vh;
            position: fixed;
            display: inline-block;
            padding: 0;
            z-index: 1019;
            top: 4.3125rem;
            margin-left: 2rem;
            background-image: none;
        }

        #nav-li {
            max-height: calc(100vh - 8rem);
            overflow-y: hidden;
        }

        #nav-li:hover {
            overflow-y: auto;
        }

        /* Optionally, add a smooth scrolling effect */
        #nav-li::-webkit-scrollbar {
            width: 8px;
        }

        #nav-li::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }

        li > button:hover {
            background-color: forestgreen;
            border-color: forestgreen;
        }

        li > button:active {
            background-color: greenyellow;
            border-color: greenyellow;
        }

        .active {
            background-color: forestgreen;
            border-color: forestgreen;
        }

        td:hover {
            background-color: forestgreen;
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- 우측 네비바 게임 목록-->
<aside>
    <nav class="nav-vertical">
        <ul id="nav-li">
        </ul>
    </nav>
</aside>

<main class="container" style="padding-left: 15rem; height: calc(100vh - 5rem)">
    <h1 style="text-align: center; margin-top: 1rem;">알랑말랑 관리자 모드</h1>
    <hr style="margin: 0">
    <!-- 게임 목록 -->
    <div id="data-game-div">
        <input type="hidden" id="gameId">
        <label for="gameName">게임 이름</label>
        <input id="gameName" type="text">
        <label for="gameComment">코멘트</label>
        <input id="gameComment" type="text">
        <div style="text-align: center">
            <img src="/img/test.png" style="height: 457px">
        </div>
        <div role="group" style="margin-top: 1rem">
            <button class="outline" id="gameBTN" type="button" onclick="addGame()" style="width: 100%">게임 추가</button>
            <button class="outline" id="callTopicBtn" type="button" onclick="getTopicList()"
                    style="width: 100%; display: none;">주제 보기
            </button>
            <button class="outline contrast" type="button" onclick="modifyGame(0)" style="width: 100%">초기화</button>
        </div>
    </div>

    <!-- 주제 시작 -->
    <div id="data-topic-div" style="display: none;">
        <input type="hidden" id="topicId">
        <label for="topicName">주제</label>
        <input id="topicName" type="text">
        <label>온보드</label>
        <fieldset role="group">
            <input id="onBoardDate" type="date" name="date" onchange="isBool(this.value)">
            <input id="onBoard" readonly>
        </fieldset>
        <div style="text-align: center">
            <input id="topicImageUpload" type="file" accept="image/*" style="display: none">
            <img id="topicImage" src="/img/test.png" style="height: 457px; cursor: pointer;">
        </div>
        <div role="group" style="margin-top: 1rem">
            <button class="outline" id="topicBTN" type="button" onclick="addTopicImage()" style="width: 100%">주제 추가</button>
            <button class="outline" id="callTopicDataBtn" type="button" onclick="getTopicDataList()"
                    style="width: 100%; display: none;">단어 보기
            </button>
            <button class="outline contrast" type="button" onclick="modifyTopic(0)" style="width: 100%">초기화</button>
        </div>
    </div>
    <!-- 주제 끝 -->

    <!-- 주제 데이터 시작 -->
    <div id="data-word-div" style="display: none;">
        <dialog id="add-word-modal">
            <article>
                <input id="topicDataId" type="hidden">
                <label>단어
                    <input id="topicDataName" type="text" placeholder="단어">
                </label>
                <label>난이도
                    <select id="topicDataLevel" aria-label="Select your favorite cuisine..." required>
                        <option selected disabled value="">
                            난이도 선택..
                        </option>
                        <option value="easy">쉬움</option>
                        <option value="hard">어려움</option>
                    </select>
                </label>
                <footer>
                    <button role="button" class="secondary" data-target="add-word-modal" onclick="toggleModal(event)">
                        닫기
                    </button>
                    <button class="outline" id="topic-dataBTN" data-target="add-word-modal" onclick="addTopicData()">
                        추가
                    </button>
                    <button class="outline" id="topic-data-delBTN" data-target="add-word-modal"
                            onclick="deleteTopicData()">
                        삭제
                    </button>
                </footer>
            </article>
        </dialog>

        <div class="grid">
            <div>
                <button style="width: 100%" class="outline" id="topic-dataBTN" data-target="add-word-modal"
                        onclick="openAddWordModal(0)">단어
                    추가
                </button>
            </div>
            <div>
                <div id="excel-upload-div">
                    <input type="file" id="excel-upload" oninput="uploadExcelWord()">
                </div>
            </div>
        </div>

        <table style="text-align: center">
            <thead style="position: sticky; top: 0px; z-index: 1">
            <tr>
                <th>쉬움</th>
                <th>어려움</th>
            </tr>
            </thead>
            <tbody id="topic-data-list">
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 주제 데이터 끝 -->
</main>

</body>
</html>