<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>ejs-view test</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/view.js"></script>
</head>
<body>

<h1>알랑말랑 어드민</h1>
<p>접속 코드를 입력하세요.</p>
<div>
    <input id="code" type="text">
</div>
<button type="button" onclick="sendCode();">전송!</button>
</body>
</html>